<div class="signup-container">
    <h2>Create an Account</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" placeholder="Enter your Name">
          <div *ngIf="signupForm.get('name')?.touched" class="error-message">
            Name is required
          </div>
      </div>
      <div class="form-group">
          <label for="enrollmentid">Enrollment Id</label>
          <input type="text" id="enrollmentid" formControlName="enrollmentid" placeholder="Enter your Enrollment Id">
          <div *ngIf="signupForm.get('enrollmentid')?.invalid && (signupForm.get('enrollmentid')?.dirty || signupForm.get('enrollmentid')?.touched)" class="error-message">
              Enrollment Id is required
            </div>
            
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter your email">
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="error-message">
          Please enter a valid email address
        </div>
      </div>

      <div class="form-group">
        <label for="class">Class</label>
        <input type="text" id="name" formControlName="class" placeholder="Enter your Class">
        <div *ngIf="signupForm.get('class')?.touched" class="error-message">
          Class is required
        </div>
    </div>
      
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Create your password">
        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="error-message">
          Password is required
        </div>
      </div>
  
      <button type="submit" class="submit-btn" [disabled]="signupForm.invalid">Sign Up</button>
      
    </form>
    <div class="login-redirect">
      <p>Already have an account? <a routerLink="/">Log in here</a></p>
    </div>
  
  </div>
  
  
  